h1, .h1 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    font-weight: 300;
  }
  
  h1, .h1 {
    margin: 30px 0 0;
  }
  
  h1, .h1 {
    font-size: 3.6em;
  }
  
  h1 small {
    color: #9A9A9A;
    line-height: 1.5em;
  }
  
  h1 small {
    font-size: 60%;
  }
  
 
  @keyframes heathing {
    0% {
      transform: scale(0.75);
    }
    20% {
      transform: scale(1);
    }
    40% {
      transform: scale(0.75);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(0.75);
    }
    100% {
      transform: scale(0.75);
    }
  }

  /*     General overwrite     */
  body {
    color: #66615b;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    margin: 0px;
  }
  
  
  .section-dark {
    background-color: #0b1011;
  }
  

  .section-dark {
    position: relative;
  }
   
@media (max-width: 767px) {
    .navbar-transparent {
      background-color: rgba(0, 0, 0, 0.45);
    }
  
    body {
      position: relative;
      font-size: 12px;
    }
  
    .fog-low {
      margin-bottom: -35px;
    }
  
    .presentation-title {
      font-size: 5em;
    }
 
    .title-brand {
      max-width: 450px;
    }
    .title-brand .type {
      font-size: 16px;
    }
  
}
    
  .page-header {
    background-color: #B2AFAB;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-header .filter::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .page-header.page-header-small {
    min-height: 65vh !important;
    max-height: 700px;
  }
  .page-header.page-header-xs {
    min-height: 40vh !important;
  }
  .page-header.section-dark .content-center,
  .page-header.section-dark .category-absolute {
    z-index: 1;
  }
  
  .page-header .motto {
    text-align: left;
    z-index: 3;
    color: #fff;
    position: relative;
  }
  
 
  .title-brand {
    max-width: 730px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    display: block;
  }
  .title-brand .type {
    position: absolute;
    font-size: 20px;
    background: #132026;
    padding: 6px 10px;
    border-radius: 4px;
    top: 0;
    font-weight: 600;
    margin-top: 10px;
    right: -15px;
  }
  
  .presentation-title {
    font-size: 8em;
    font-weight: 700;
    margin: 0;
    color: #FFFFFF;
    background: #fbf8ec;
    background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
    background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .fog-low {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -35%;
    margin-bottom: -50px;
    width: 110%;
    opacity: .85;
  }
  .fog-low img {
    width: 100%;
  }
  .fog-low.right {
    margin-left: 1%;
    opacity: 1;
  }
  
  .page-header .content-center {
    margin-top: 85px;
  }
  
  .moving-clouds {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 250.625em;
    height: 43.75em;
    -webkit-animation: cloudLoop 80s linear infinite;
    animation: cloudLoop 80s linear infinite;
  }
  
  @keyframes cloudLoop {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }
  }
  .following img {
    max-width: 70px;
  }
  
  .tim-row{
      padding-top: 50px;
  }
  
  .main{
      background-color: #fff;
  /*     position: relative; */
  
  }
 






  
  

 